<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
    <link  rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='action-selection.css') }}">

    <script src="{{ url_for('static', filename='lib/react.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/browser.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.js') }}"></script>

</head>
<body role="document">
  <!-- TODO not round corners of menu. See theme menu getbootrap there it is well rendered. -->
  <div id="todo1"></div>
  <noscript>
    <a href="https://www.google.cz/webhp?q=how%20to%20enable%20javascript">You have JavaScript disabled. Please, turn it on and return to start playing.</a>
  </noscript>

  <div className="container theme-showcase" role="main">
    <div id="todo2"></div>
    <div id="todo3"></div>
    <div id="todo4"></div>
  </div>
  <script type="text/babel" src="{{ url_for('static', filename='assistant.js') }}"></script>

</body>
</html>
