{% set page_title = "Chat!" %}

{% extends "layout.html" %}


    {% block css_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='action-selection.css') }}">
    {% endblock %}

    {% block js_top %}
    <script src="{{ url_for('static', filename='lib/react.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/browser.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/react-bootstrap.js') }}"></script>
    
    <!-- See other libraries at the bottom and try to move even some from the above -->
    {% endblock %}

    {% block main %}
      <!-- TODO not round corners of menu. See theme menu getbootrap there it is well rendered.
      Menu is rendered in topbar div-->

        <div id="todo4"></div>
        <!-- use main tag instead -->
        </div>

    {% endblock %}

  {% block footer %}
    <div>
      Dialogue id: <a href="{{ dialog_url }}"><span id="dialog_id"> {{ dialog_id }}</span></a>,
      Role: <span id="role">{{ role }}</span>,
      Author: <span id="author">{{author}}</span>
    </div>
  {% endblock %}

  {% block js_btm %}
    <script src="{{ url_for('static', filename='lib/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/socketio.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='assistant.js') }}"></script>
  {% endblock %}

</body>
</html>
